.login-form {
   width: 30rem;
   border: 3px solid rgb(244, 52, 4);
   padding: 5rem;
   margin-top: 5rem;
   border-radius: 5px;
 }
 .login-title {
   text-align: center;
   color: rgb(244, 52, 4);
   text-transform: uppercase;


 }
 .input {
   padding: 7px 0;
   display: block;
   margin: 2rem 0;
   width: 100%;
   border: 2px solid rgb(244, 52, 4);


 }
 
 .password-input {
   position: relative;

 }
 .password-icons {
   position: absolute;
   right: 8px;
   top: 8px;
 }
 .password-forgot {
    margin-left:2rem;
   color: var(--gray);
   justify-content: center;
 }
 .login-btn {
   display: block;
   margin: 1rem 0;
   width: 100%;
   padding: 8px 0;
   background-color: rgb(244, 52, 4);
   border: none;
   color: var(--primary-color);
   text-transform: uppercase;
   cursor: pointer;
   border-radius: 9px;
   font-family:'Times New Roman', Times, serif;
   font-weight: 900;

 }
 .new-account {
   text-align: center;
 }
 .account-title {
   color: black;
   margin-left: 69px;
   font-family:'Times New Roman', Times, serif;
   text-transform: uppercase;

 }